*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.header{
  margin: 5%;
  padding-bottom: 3%;
}

.arrow{
  width: 10%;
  float:left;
}
.logo{
  margin: auto;
  display: block;
  width: 30%;
  margin-top: 35%;
  margin-bottom: 10%;
}
.name{
  color:#F15933;
  font-weight: 700;
    font-size: 7vw;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;

}

p{
  font-weight: 700;
  font-size:6vw;
  color:black;
  margin: 3%;


}
.info{
  font-weight: 400;
  font-size:5vw;
  color:#F15933;
  margin-top: 4%;
  margin: auto;
  width: 70%;
  padding-bottom: 25px;
}
.info1{
  font-weight: 400;
  font-size:3vw;
  color:black;
  margin-top: 4%;
  margin: auto;
  width: 70%;

}
