*{
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-align: center;

}
body{
  background: linear-gradient(to bottom, rgba(245,129,40,1) 0%, rgba(231,56,39,1) 100%);



}

.title{
  width: 40%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 65%


}

.button{
  background: #DD374B;
  border: 8px solid #FFFFFF;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  padding-bottom: 7%;
  padding-top: 7%;
  margin: 26%;
  color:white;
}
.button: hover{
  background: red;
}
p{
  color: white;
  font-size: 3vh;
}
