@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600,800');

.h1{
  font-family: 'Dosis', sans-serif, extra-bold;
}
.h2{
  font-family: 'Dosis', sans-serif;
}
body{
  margin: 80px;
}

li{
  font-family: 'Dosis', sans-serif;

}
.ny{
  position: absolute;
left: 600px;
width: 450px;
height: 250px;
top: 380px;

}
.seoul{
  position: absolute;
  height: 250px;
  width: 450px;
  left: 600px;
  top: 80px;
}
