@import url('https://fonts.googleapis.com/css?family=Amiko');
body{
  background: url(star1.gif);
  text-align: center;
}
.text{
color: white;
font-family: 'Amiko', sans-serif;
font-size: 23px;

}
#up{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

#down{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
