@import url('https://fonts.googleapis.com/css?family=Amiko');

body{
  background-image:url("water.gif");
  background-repeat: repeat;
  background-position: center fixed;
  background-size: auto;
}


div {

  font-family: 'Amiko', sans-serif;
  color:white;

  position: relative;

   }
   #up{
     position: absolute;
    top:10px;
    left:700px;

   }

#down{
  position: absolute;
  top:600px;
  left:700px;
   }
#div1 {
  animation-timing-function: ease-in-out;
  background-color: skyblue;
  animation: my1move 15s infinite;
  left:20px;
  display:inline;
  font-size: 20px;
}
#div2 {
  animation-timing-function: ease;
  background-color: cornflowerblue;
  animation: my2move 18s infinite;
  left:100px;
  display:inline;
  font-size: 20px;
}
#div3 {
  animation-timing-function: ease-in;
  background-color: turquoise;
  animation: my3move 13s infinite;
  left:200px;
  display:inline;
  font-size: 20px;
}
#div4 {
  animation-timing-function: ease-out;
  background-color: grey;
  animation: my4move 20s infinite;
  left:250px;
  display:inline;
  font-size: 20px;
}
#div5 {
  animation-timing-function: linear;
  animation: my5move 50s infinite;
  left:1500px;
  background-color: thistle;
  display: block;
  font-size: 35px;
}
#arrow{
  animation: bounce 1s infinite alternate;
  position: absolute;
  left:1200px;
  top:300px;
}

@keyframes my1move {
    from {top: 0px;}
    to {top: 550px;}
   }

@keyframes my2move {
    from {top: 0px;}
    to {top: 500px;}
   }

@keyframes my3move {
    from {top: 0px;}
    to {top: 350px;}
}
 @keyframes my4move {
    from {top: 0px;}
    to {top: 600px;}
}
@keyframes my5move {
    from {top: 0px;}
    to {top: 700px;}
   }
@keyframes bounce {
  from {transform: translateX(0px);}
  to {transform: translateX(-15px);}
   }
