@import url('https://fonts.googleapis.com/css?family=Amiko');

body{
  background-image:url("water.gif");
  background-repeat: repeat;
  background-position: center fixed;
  background-size: auto;
}


div {

    font-size: 30px
    font-weight: bold;
    font-family: 'Amiko', sans-serif;
    position: relative;
    color: white;

   }
   #up{
     display: block;
       margin-left: auto;
       margin-right: auto;
       margin-top: 20px;
       margin-bottom: -30px;
   }

#down{
     display: block;
       margin-left: auto;
       margin-right: auto;
       margin-top: -30px;
   }
#div1 {
  animation-timing-function: linear;
  background-color: skyblue;
  animation: my1move 15s infinite;
  left:100px;
  display:inline;
}
#div2 {
  animation-timing-function: ease;
  background-color: cornflowerblue;
  animation: my2move 18s infinite;
  left:300px;
  display:inline;
}
#div3 {
  animation-timing-function: ease-in;
  background-color: turquoise;
  animation: my3move 13s infinite;
  left:600px;
  display:inline;
}
#div4 {
  animation-timing-function: ease-out;
  background-color: grey;
  animation: my4move 20s infinite;
  left:900px;
  display:inline;
}
#div5 {
  animation-timing-function: ease-in-out;
  animation: my5move 25s infinite;
  left:1100px;
  display:inline;
}

@keyframes my1move {
    from {top: 0px;}
    to {top: 550px;}
   }

@keyframes my2move {
    from {top: 0px;}
    to {top: 500px;}
   }

@keyframes my3move {
    from {top: 0px;}
    to {top: 350px;}
}
 @keyframes my4move {
    from {top: 0px;}
    to {top: 600px;}
}
@keyframes my5move {
    from {top: 0px;}
    to {top: 700px;}
   }
