@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
*{

background-color: black;
text-align: center;

}

.text{
  font-family: 'Indie Flower', cursive;

  font-size: 25px;
  color: white;
  padding: 200px;
}
span{
  font-family: 'Indie Flower', cursive;
  color: skyblue;

}

p:hover:after {
    content: url(paris.gif); /* no need for qoutes */
    display: block;
    position: relative;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}
#river{
  color: #2b5d92;
}
#up{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: -30px;
}

#down{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}


/**a:hover
{
    background-image: url('image/circle.PNG');
    background-repeat: no-repeat;
    background-position: center bottom;
    height:20px
    width:100px;
    display:block;
}**/
