@import url('https://fonts.googleapis.com/css?family=Amiko');
body{
  background-color: yellow;
  text-align: center;

}
.text{
color: pink;
font-family: 'Amiko', sans-serif;
font-size: 23px;

animation: color 5s infinite;
}
@keyframes color {
  35% {color: lightblue;}
  75% {color: #cc2484;}
}
#up{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#down{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
