@import url('https://fonts.googleapis.com/css?family=Amiko');
body{
  background-color: #ffc107;
  text-align: center;

}
.text{
color: #ec3170;
font-family: 'Amiko', sans-serif;
font-size: 23px;

animation: color 2s infinite;
}
@keyframes color {
  25% {color: #2196f3;}
  50% {color: #9c27b0;}
  75% {color: #e56bb1;}
}
#up{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#down{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
