@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
*{
background-color: black;
text-align: center;

}

.text{
  font-family: 'Indie Flower', cursive;

  font-size: 25px;
  color: white;
  padding: 200px;
}
#river{
  color: blue;
}

p:hover:after {
    content: url(river.gif); /* no need for qoutes */
    display: block;
    position: relative;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}
#up{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: -50px;
}

#down{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}
