
*{
margin: 20px; padding: 20px;
}
h1{
  font-family: arial;
  text-align: center;
  font-size: 90px;

}
div {
  border: 1px solid #333;
}

[p] {
  font-family: georgia;


}

#container {
  border-radius: 25px;

    border: 20px solid lavender;
    padding: 10px;
}


/*
  combinators
  - adjacent sibling selector ( + )
  - general sibling ( ~ )
  - child ( > )
  - descendant selector (  )
*/



p + p {

  color: steelblue;

}

/*
  pseudo-elements
  ::after
  ::before
  ::first-letter
  ::first-line
  ::selection
  ::backdrop
*/
h1:before,
h1:after{
  content: url(flower.jpg);
}

p:first-letter {
  font-size: 20px
}



/*
  puseudo-classes
*/

p:hover {
  color: white;
  background-color: grey;
}
