*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

html,body{
  display:
    height: 100%;
    text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

h1{/* all that movie: */
  font-weight: 700;
  font-size: 72px;
  color: #000000;
  text-align: center;
  margin: 50px;
}
h1:hover{
  color: #13A89D;
}
.id{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
    display: block;
    margin-bottom: 10px;
    /* Rectangle 3 Copy: */
border: 5px solid #13A89D;
font-family: 700;
font-size: 3em;
color: #C6C2C2;

}

.login {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Rectangle 3: */
    background: #13A89D;
    border: 5px solid #13A89D;
    width: 50%;
    padding: 10px;
    font-weight:700;
    font-size: 3em;
    color: #FFFFFF;
}
.login:hover{
  background-color:  #13A89D;
  color: white;
}
.line{/* Line: */
border: 1px solid #979797;
margin-top: 30px;
margin-bottom: : 30px;
}
p{
  /* Forgot your Username: */
font-family: 700;
font-size: 1em;
color: #000000;
margin:20px;
}

.sns{
  width: 60%;
  margin: auto;
}
.phonesns{
  display: none
}
.desktopsns{
  padding-bottom: 20px;
}
@media (max-width: 685px) {
  .desktopsns{
    display: none;
  }
  .phonesns{
display: inline;
  }
  .id{
    font-size: 1em;
  }
  .login{
    font-size: 1.em;
  }
}
