*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html,body{
    height: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

h1{/* all that movie: */
  font-weight: 700;
  font-size: 72px;
  color: #000000;
  text-align: center;
  margin: 50px;
}
.bar1{
  /* NOW SHOWING: */
font-weight: 400;
font-size: 1em;
color: #D0021B;
margin-left: 8.33%;
text-align: center;

}
.bar2{
  /* UPCOMING: */
font-weight:400;
font-size: 1em;
color: #000000;
text-align: center;


}
.bar3{
  /* TICKET: */
font-weight: 400;
font-size: 1em;
color: #000000;
text-align: center;

}
.bar4{
font-weight: 400;
font-size: 1em;
color: #13A89D;
/* Rectangle 3: */
border: 2px solid #13A89D;
/* LOG IN: */
float: right;
text-align: center;
}
.now{
  /* Rectangle 3: */
background: #D97C7C;
border: 2px solid #D97C7C;
/* NOW SHOWING: */
font-weight: 700;
font-size: 2em;
color: #FFFFFF;
text-align: center;
}
.img {
  margin: 100px;
  padding:: 20px;
  background-image:url(BAB.jpeg);
  height:80%;
  background-position: center;
  background-size: cover;
}
.info{
  margin-left: 50%;
}
.title{
  font-weight: 700;
  font-size: 2em;
  color: black;
  text-align: left;
  margin-bottom: 20px;

}
ul{
  /* FAMILY | FANTASY | M: */
font-weight: 500;
font-size: 1em;
color: #000000;
list-style: none;
text-align: left;
}
.rec


/*Global Layout */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 25px;
    border: 1px dashed rgba(255,0,0,0.3);
    display: inline-block;
}

.grid-base{
    position: absolute;
    top:0;
    left: 0;
    width: 100%
}
.grid-base .col-1{
    height: 3000px;
}
